nav{
    position:sticky;
    top:0;
    left:0;
    background:rgb(37, 37, 37);
    padding:2em;
    width:100vw;
    display:flex;
    justify-content:space-between;
    background-image:linear-gradient(45deg, rgb(0, 0, 0), rgba(196, 196, 196, 0.144));
    z-index:99;

    a{
        color:var(--mainColor);
        text-transform: uppercase;
        font-weight:bold;

    }
    }
